<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @expense.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Total:</strong>
  <%= @expense.total %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
